.matches_cards_box{

    margin-top: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    margin-top: 60px;
}
.matches_title{
    color: rgb(138, 21, 56);
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 120px;
    margin-bottom: 0px;
}

.page_container{
    width: 100%;
    min-height: 100vh;
    max-height: 100%;
    background-color: rgb(238,238,228);
}