.matches_cards_box{

    margin-top: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    margin-left: 100px;
}
.matches_title{
    color: #550065;
    font-size: 50px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 120px;
    margin-bottom: 0px;
}